
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

div.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{text-decoration: none;
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    min-width: 50px !important;
    padding: 0px 8px !important;
    font-weight: 800 !important;
    
}
.css-o69gx8-MuiCardMedia-root {
    background-color: lightgray;
}
.css-i0bk1x-MuiPaper-root {
    padding: 3rem;
}