.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  min-width: 730px;
}

.categoryAndLogo {
  display: flex;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.categoryAndLogo img {
  margin-right: 10px;
}

.categoryAndLogo h1 {
  text-transform: capitalize;
}
